.branch-item-container {
  border-bottom-width: 1px;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, 1);
  padding: 1rem 0px;
  .branch-item-image {
    height: 12rem;
    margin-bottom: 0.75rem;
    background-size: cover;
    background-position: 50%;
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 1);
  }
  .branch-item-infos {
    display: flex;
    justify-content: space-between;
    .branch-item-name, .branch-item-waiting {
      div {
        margin-bottom: 0.25rem;
        font-weight: 600;
      }
      small {
        color: #a0aec0;
        color: rgba(160, 174, 192, 1);
      }
    }
    .branch-item-waiting {
      text-align: right;
      min-width: 60px;
    }
  }
}
